/* Les styles de grid du layout ont été mis dans App.css.
   Ici, nous ajoutons les spécificités du TopNav qui n'y étaient pas. */

.icon-group {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-right: 1.5rem;
    border-right: 1px solid var(--border-color);
}

.notification-icon {
    position: relative;
}

.notification-dot {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 8px;
    background-color: var(--accent-color);
    border-radius: 50%;
    border: 2px solid white;
}